$primaryColor: #ff6347;
$secondaryColor: #ffcec5;
$grayColor: #e2e8f0;

.inline__text {
  background-color: transparent !important;
  font-size: 20px !important;
}
.box__padding_zero {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.display__mobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.old__links__item {
  background-color: transparent !important;
}
.old__links__box {
  background-color: transparent !important;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid $grayColor;
  overflow-y: scroll;
}

#link__box__scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
#link__box__scroll::-webkit-scrollbar-thumb {
  background: $primaryColor !important;
}

/* Handle on hover */
#link__box__scroll::-webkit-scrollbar-thumb:hover {
  background: $primaryColor !important;
}

.custom__alert {
  background: $secondaryColor !important;
}
